@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;500&display=swap');

li{
background-color:purple;
color:purple;
font-family: 'Lexend Peta', sans-serif;


    list-style: none; 
    float: left;
    padding: 10px

}
li:hover{
	background-color: black;
	border-radius: 10px
}  

 a{ text-decoration: none;
 	color:pink;
 	font-size: 20px

}




